.img__price__container {
  position: relative;
}

.price {
  position: absolute;
  bottom: 1px;
  left: 5px;
  background: #fff;
  padding: 0 8px;
  color: #6b7280;
  font-size: .9em;
}

.fa-heart {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

img:hover+.price {
  bottom: 5px;
  transition: bottom .3s ease-in-out;
  box-shadow: 0 0 5px;
}

.fa-shopping-bag {
  position: relative;
}

.fa-shopping-bag::after {
  position: absolute;
  content: attr(count);
  top: -15px;
  right: -15px;
  background-color: #0071ae;
  color: #fff;
  border-radius: 50%;
  width: 1.3em;
  text-align: center;
  font-size: .8em;
  line-height: 1.3em;
  font-weight: normal;
}

.card-container {
  cursor: pointer;
}

.card-container:hover {
  border: 1px solid #000;
  padding: 0 0 1em 0;
}

.cart {
  position: relative;
}

.pasarela-container {
  position: absolute;
  background-color: #fff;
  left: -340px;
  border: 1px solid;
  z-index: 5;
  padding: 1em;
}

.pasarela-container.hidden {
  display: none;
}

.pasarela-container {
  display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.club {
  background-color: #ede734;
}

.register-free {
  box-shadow: 4px 3px 1px #FFF;
  cursor: pointer;
}

.login-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  border: 1px solid #202020;
  padding: 2em;
  background-color: white;
}