.img__price__container {
  position: relative;
}

.price {
  position: absolute;
  bottom: 1px;
  left: 5px;
  background: #fff;
  padding: 0 8px;
  color: #6b7280;
  font-size: .9em;
}

.fa-heart {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

img:hover+.price {
  bottom: 5px;
  transition: bottom .3s ease-in-out;
}

.fa-shopping-bag {
  position: relative;
}

.fa-shopping-bag::after {
  position: absolute;
  content: attr(count);
  top: -15px;
  right: -15px;
  background-color: yellow;
  border-radius: 50%;
  width: 1.3em;
  text-align: center;
  font-size: .9em;
}

.col {
  cursor: pointer;
}

.col:hover {
  border: 1px solid #000;
  padding-bottom: 1em;
}

.cart {
  position: relative;
}

.pasarela-container {
  position: absolute;
  background-color: #fff;
  left: -400px;
  border: 1px solid;
  z-index: 5;
  padding: 1em;
}

.pasarela-container.hidden {
  display: none;
}

.pasarela-container {
  display: block;
}